.zoom-container figure {
    width: 128px;
    height: 128px;
    transition: width 0.5s ease, height 0.5s ease;
}

.zoom-container:hover figure {
    width: 200px;
    height: 200px;
    transition: width 0.5s ease, height 0.5s ease;
}

.small-presentation {
    width: 60%;
}

.columns-experience {
    @media screen and (min-width: 800px) {
        gap: 2.5rem;
        margin-right: 3rem;
        margin-left: 3rem;
    }
}

hr { 
    background-color: lightgray; 
    height: 1px; 
    border: 0; 
}

.img-icon {
    width: 2em;
    height: 2em;
    filter: grayscale(100%);
}

.content {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.card:hover .content {
    opacity: 1;
}

.content.hidden-info {
    display: none;
}

.card:hover .content.hidden-info {
    display: block;
}

.card-header-title,
.card-header-subtitle {
    text-align: center;
}

.card {
    height: 100%;
}

.content {
    display: none;
}

.card:hover .content {
    display: block;
}

.card:hover .card-header-title,
.card:hover .card-header-subtitle {
    display: none;
}