body {
    background-color: #141414;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: inline-block;
    display: flex;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 40px;
    padding-bottom: 10px;
    background-color: #141414;
}

.navbar-menu-logo {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-menu-logo-image {
    margin-top: 10px;
    margin-left: 10px;
    width: 180px;
}

.list-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin: auto;
    width: 65%;
}
  
.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

li {
    margin:5px;
}

h1 {
    color: white;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 600;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: white;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 1200;
    font-size: 2rem;
    margin: 0px;
    text-transform: uppercase;
}

h3 {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    margin: 0;
}

h4 {
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.3rem;
    margin: 0;
}

.competences {
    margin: 10px;
    padding: 10px;
    color: white;
    position: relative;
}

.competences img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
}

.competences img.letseatimg {
    width: 130px;
    height: auto;
    position: absolute;
    top: 0px;
    margin-top: 10px;
    margin-right: 10px;
    right: 0px;
    border-radius: 10px;
}

@media (min-width: 1790px) and (max-width : 1950px) {
    .list-inline {
        width: 70%;
    }
}

@media (min-width: 1675px) and (max-width : 1790px) {
    .list-inline {
        width: 75%;
    }
}

@media (min-width: 1575px) and (max-width : 1675px) {
    .list-inline {
        width: 80%;
    }
}

@media (min-width: 1485px) and (max-width : 1575px) {
    .list-inline {
        width: 85%;
    }
}

@media (min-width: 1405px) and (max-width : 1485px) {
    .list-inline {
        width: 90%;
    }
}

@media (min-width: 1335px) and (max-width : 1405px) {
    .list-inline {
        width: 95%;
    }
}

@media (min-width: 1275px) and (max-width : 1405px) {
    .list-inline {
        width: 100%;
    }
}

@media (max-width: 1150px) {
    .competences img{
        width: 120px;
        height: auto;
        position: relative;
    }
    .competences img.letseatimg {
        width: 100px;
        height: auto;
        position: relative;
        border-radius: 8px;
    }
}

@media (max-width: 1000px) {
    .list {
        display: none;
    }
}

@media (min-width: 380px) and (max-width: 600px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    p, ul, il {
        font-size: 15px;
    }
    .competences img{
        width: 100px;
        height: auto;
    }
    .competences img.letseatimg {
        width: 80px;
        height: auto;
        border-radius: 7px;
    }
}

@media (min-width: 300px) and (max-width: 380px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    p, ul, il {
        font-size: 13px;
    }
    .competences img{
        width: 70px;
        height: auto;
    }
    .competences img.letseatimg {
        width: 60px;
        height: auto;
        border-radius: 6px;
    }
}

@media (max-width: 300px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 15px;
    }
    h3 {
        font-size: 13px;
    }
    h4 {
        font-size: 12px;
    }
    p, ul, il {
        font-size: 11px;
    }
    .competences img{
        width: 50px;
        height: auto;
    }
    .competences img.letseatimg {
        width: 40px;
        height: auto;
        border-radius: 6px;
    }
}
